{%- extends 'index.html' -%}
{%- block body -%}
	{% if session.get('post-preview', None) %}
		{% set incident_title = session['post-preview'].get('incident_title', None) %}
		{% set incident_description = session['post-preview'].get('incident_description', None) %}
		{% set tags = session['post-preview'].get('tags', None) %}
		{% if tags %}
			{% set post_tags = ','.join(tags) %}
		{% endif %}
	{% else %}
		{% set incident_title = post.get('incident_title') %}
		{% set incident_description = post.get('incident_description') %}
	{% endif %}
	<div class="post clearfix">
		<div class="row">
			<div class="col-lg-8">
				<div class="page-header">
					<h1>Edit Incident</h1>
				</div>
				<div class="content">
					{%- with messages = get_flashed_messages(with_categories=True) -%}
						{%- if messages -%}
							{%- for category, message in messages -%}
								<div class="response">
									<span class="message {{ category }}">{%- if category == 'success' -%}✔{%- endif -%}&nbsp;{{ message }}</span>
								</div>
							{%- endfor -%}
						{%- endif -%}
					{%- endwith -%}
					<form id="post-form" role="form" method="post" action="{{ url_for('new_post') }}">
						<div class="form-group {% if error and error_type == 'validate' %}has-error{% endif %}">
							{%- if error and error_type == 'validate' -%}
								<label class="control-label" for="post-title">Required field</label>
							{%- endif -%}
						    <input type="text" class="form-control" name="incident-title"
                id="incident-title" placeholder="Incident Title" required
                value="{{ incident_title | safe }}">
					    </div>

						<div class="form-group {% if error and error_type == 'validate' %}has-error{% endif %}">
							{%- if error and error_type == 'validate' -%}
								<label class="control-label" for="incident-description">Required field</label>
							{%- endif -%}

						    <textarea id="incident-description" name="incident-descripton"
                  class="form-control" rows="6" placeholder="Description"
                  required>{{ incident_description | safe }}</textarea>
					    </div>

						<div class="form-group">
							<input type="hidden" name="post-preview" id="preview">
							<input type="hidden" name="post-id" value="{{ post['_id'] }}">
							<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
						    <input id="post-submit" type="submit" class="btn btn-primary" value="Submit">
							<input id="post-preview" type="submit" class="btn" value="Preview">
					    </div>
					</form>
				</div>
			</div>
		</div>
	</div>
  <script src="{{ url_for('static', filename='js/popover.js') }}"></script>
{%- endblock -%}
