{%- extends 'index.html' -%}
{%- block body -%}
	{% if session.get('post-preview') %}
		{% set post_title = session['post-preview'].get('title', None) %}
		{% set post_preview = session['post-preview'].get('preview', None) %}
		{% set post_body = session['post-preview'].get('body', None) %}
		{% set post_tags = session['post-preview'].get('tags', None) %}
	{% else %}
		{% set post_title = '' %}
		{% set post_preview = '' %}
		{% set post_body = '' %}
		{% set post_tags = '' %}
	{% endif %}

	<!-- TODO tooltips -->
	<div class="post clearfix">
		<div class="row">
			<div class="col-lg-8">
				<div class="page-header">
					<h1>New Incident</h1>
				</div>
				<div class="content">
					{%- with messages = get_flashed_messages(with_categories=True) -%}
						{%- if messages -%}
							{%- for category, message in messages -%}
								<div class="response">
									<span class="message {{ category }}">{%- if category == 'success' -%}✔{%- endif -%}&nbsp;{{ message }}</span>
								</div>
							{%- endfor -%}
						{%- endif -%}
					{%- endwith -%}
					<form id="post-form" role="form" method="post" action="{{ url_for('new_post') }}">
						
						<h3>Basic STIX Fields</h3>
						<br>
						<!-- Overview Of Basic Fields -->

						<!-- Incident -> Title -->
						<!-- Categories ?? -->
						<!-- Short Description -->
						<!-- Description -->
						<!-- Blockchain platform -->  
						<!-- Attack Vector -->
						<!-- Vulnerability Exploited -->
						<!-- Time of Attack -->
						<!-- Time reported -->
						<!-- Loss (Crypto) @ time of attack -->
						<!-- Loss (USD) @ time of attack -->
						<!-- Geographical origin of attack, Source of attack -->
						<!-- Resources -->
						

						<!-- Title -->
						<div class="form-group {% if error and error_type == 'validate' %} has-error{% endif %}">
							{%- if error and error_type == 'validate' -%}
								<label class="control-label" for="post-title">Required field</label>
							{%- endif -%}
								<label>Title</label>
								&nbsp;
								<span class="glyphicon glyphicon-question-sign" 
									data-toggle="popover" 
									data-placement="right" 
									data-content="Incident title placement">
								</span>
						    <input type="text" class="form-control" name="post-title" id="post-title" placeholder="Title" value="{{ post_title | safe }}" required>
						</div>

						<!-- Categories -->
						<div class="form-group">
							<label>Categories</label>
							&nbsp;
							<span class="glyphicon glyphicon-question-sign" 
                data-toggle="popover" 
                data-placement="right" 
								data-content="
								Opsec: Vulnerabilities which did not originate from blockchain</br> 
								Smart Contracts: Vulnerabilities related to smart contracts</br> 
								Protocols & Incentives: Vulnerabilities related the protocols & incentives">
              </span>
							<input type="text" list="incident-categories" id="post-categories" name="post-categories" placeholder="Categories" class="form-control">
							<datalist id="incident-categories" name="incident-categories">
								<option value="Opsec">Opsec : Vulnerabilities not originating from blockchain</option>
								<option value="Smart Contract - Call to the Unknown">Smart Contract - Call to the Unknown : Sends ether before decreasing credit</option>
								<option value="Smart Contract - Gasless Send">Smart Contract - Gasless Send : Out-of-gas exception</option>
								<option value="Smart Contract - Exception Disorders">Smart Contract - Exception Disorders : Solidity is not uniform in the way it handles exceptions and bypassing when an exception should have occurred might lead to attacks</option>
								<option value="Smart Contract - Type Casts">Smart Contract - Type Casts : Type mismatch leading to exceptions not being called</option>
								<option value="Smart Contract - Reentrancy">Smart Contract - Reentrancy : Non-recursive function is re-entered before termination</option>
								<option value="Smart Contract - Keeping Secrets">Smart Contract - Keeping Secrets : Some applications require some field kept secret for awhile but transactions are publicly available on the blockchain</option>
								<option value="Smart Contract - Immutable Bugs">Smart Contract - Immutable Bugs: No way to patch bugs if found</option>
								<option value="Smart Contract - Ether Lost in Transfer (Posthumous Contract)">Smart Contract - Ether Lost in Transfer (Posthumous Contract): Orphan addresses not associated to user or contract, programmer needs to manually ensure correctness of recipient address</option>
								 
								<option value="Smart Contract - Stack Size Limit (Mishandled Exceptions)">Smart Contract - Stack Size Limit (Mishandled Exceptions): Call stack is bounded to 1024 frames</option>
								<option value="Smart Contract - Unpredictable State">Smart Contract - Unpredictable State: User does not know the actual state wherein the transaction is run</option>
								<option value="Smart Contract - Generating Randomness">Smart Contract - Generating Randomness : EVM code is deterministic and is only pseudo-random</option>
								<!-- TODO ADD MORE FORM DETAILS FROM GOOGLE DOCS -->
							</datalist>
						</div>

						<!-- Short Description -->
						<div class="form-group {% if error and error_type == 'validate' %} has-error{% endif %}">
							{%- if error and error_type == 'validate' -%}
								<label class="control-label" for="post-short-description">Required field</label>
							{%- endif -%}
								<label>Short Description</label>
								&nbsp;
								<span class="glyphicon glyphicon-question-sign" 
									data-toggle="popover" 
									data-placement="right" 
									data-content="Summary of description">
								</span>
						    <textarea id="post-short-description" name="post-short-description" class="form-control" rows="3" placeholder="Short Description" required>{{ post_short_description | safe }}</textarea>
						</div>

						<!-- Description -->
						<div class="form-group {% if error and error_type == 'validate' %} has-error{% endif %}">
							{%- if error and error_type == 'validate' -%}
								<label class="control-label" for="post-description">Required field</label>
							{%- endif -%}
								<label>Description</label>
								&nbsp;
								<span class="glyphicon glyphicon-question-sign" 
									data-toggle="popover" 
									data-placement="right" 
									data-content="A well described incident is written in narrative form beginning with an overview of the incident before going into how the incident occured">
								</span>
						    <textarea id="post-description" name="post-description" class="form-control" rows="7" placeholder="Description" required>{{ post_description | safe }}</textarea>
						</div>

						<!-- TTP -> Resources -> Infrastructure -->
						<!-- OLD: Blockchain platform -->
						<div class="form-group">
							<label>TTP -> Resources -> Infrastructure</label>
							&nbsp;
							<span class="glyphicon glyphicon-question-sign" 
                data-toggle="popover" 
                data-placement="right" 
                data-content="Blockchain platforms or cryptocurrencies (BTC, ETH, LTC) the attack is associated with">
              </span>
							<input type="text" id="post-blockchain-platform" name="post-blockchain-platform" placeholder="Blockchain Platform" class="form-control">
						</div>

						<!-- Attack Vector -->
						<div class="form-group">
							<label>Attack Vector</label>
								&nbsp;
							<span class="glyphicon glyphicon-question-sign" 
                data-toggle="popover" 
                data-placement="right" 
                data-content="Route which attack is carried out, eg. Internet, client application (wallet), server, humans">
              </span>
							<input type="text" name="post-attack-vector" id="post-attack-vector" placeholder="Attack Vector" class="form-control"/>
						</div>

						<!-- Vulnerability Exploited -->
						<div class="form-group">
							<label>Vulnerability Exploited</label>
							&nbsp;
							<span class="glyphicon glyphicon-question-sign" 
                data-toggle="popover" 
                data-placement="right" 
                data-content="What type of vulnerabilities was the attack associated with">
              </span>
							<input type="text" name="post-vulnerability-exploited" id="post-vulnerability-exploited" placeholder="Vulnerability Exploited" class="form-control"/>
						</div>

						<!-- Time of Attack -->
						<div class="form-group">
							<label>Time of Attack</label>
							&nbsp;
							<span class="glyphicon glyphicon-question-sign" 
                data-toggle="popover" 
                data-placement="right" 
                data-content="Transaction in blockchain"></span>
							<input type="datetime-local" 
              name="post-time-of-attack" 
              id="post-time-of-attack" 
              placeholder="Time of Attack use YYYY-MM-DD HH:MM:SS -/+HH:SS eg. 2012-02-11 10:23:00 -04:00" 
              class="form-control"/>

						</div>

						<!-- Time reported -->
						<div class="form-group">
							<label>Time Reported</label>
							&nbsp;
							<span class="glyphicon glyphicon-question-sign"
                data-toggle="popover" 
                data-placement="right"
                data-content="Reported Time"></span>
							<input type="datetime-local" name="post-time-reported"
              id="post-time-reported" 
              placeholder="Time Reported use YYYY-MM-DD HH:MM:SS -/+HH:SS eg. 2012-02-11 10:23:00 -04:00" 
              class="form-control"/>
						</div>

						<!-- Loss (Crypto) @ time of attack -->
						<div class="form-group">
							<label>Loss (Crypto) @ Time of Attack</label>
							&nbsp;
							<span class="glyphicon glyphicon-question-sign" 
                data-toggle="popover" 
                data-placement="right" 
                data-content="Utilize standard crypto ticker eg. 100 BTC">
              </span>
							<input type="text" name="post-loss-crypto" id="post-loss-crypto" placeholder="Loss (Crypto) @ Time of Attack" class="form-control"/>
						</div>

						<!-- Loss (USD) @ time of attack -->
						<div class="form-group">
							<label>Loss (USD) @ Time of Attack</label>
							&nbsp;
							<span class="glyphicon glyphicon-question-sign" 
                data-toggle="popover" 
                data-placement="right" 
                data-content="Take USD price from multiple charts">
              </span>
							<input type="text" name="post-loss-usd" id="post-loss-usd" placeholder="Loss (USD) @ Time of Attack" class="form-control"/>
						</div>

						<!-- Geographical origin of attack, Source of attack -->
						<div class="form-group">
							<label>Geographical origin of attack, Source of Attack</label>
							&nbsp;
							<span class="glyphicon glyphicon-question-sign" 
                data-toggle="popover" 
                data-placement="right" 
                data-content="Nationality / origin of smart contract uploading IP">
              </span>
							<input type="text" name="post-source-of-attack" id="post-source-of-attack" placeholder="Geographical origin of attack, Source of attack" class="form-control"/> 
						</div>

						<!-- Resources -->
						<div class="form-group">
							<label>Resources</label>
							&nbsp;
							<span class="glyphicon glyphicon-question-sign" 
                data-toggle="popover" 
                data-placement="right" 
                data-content="References and links to article"></span>
							<input type="text" name="post-resources" id="post-resources" placeholder="Resources" class="form-control" />
						</div>

						<br>
						<hr>

						<h3>Advanced Stix Fields</h3>
						<!-- TODO -->

						<br>
						<hr>

						<h3>Website Metadata</h3>
						<br>
						<!-- Tags -->
						<div class="form-group">
							<label for="post-tags">Tags 
								&nbsp;
								<span class="glyphicon glyphicon-question-sign" data-toggle="popover" data-placement="bottom" data-content="The site uses tags to search for incidents this is not included in STIX fields"></span>
							</label>
						    <input type="text" name="post-tags" class="form-control" id="post-tags" placeholder="Input comma separated tags (eg. Bird, Train) for searches" value="{{ ','.join(post_tags) }}">
						</div>


						<!-- Submit -->
						<div class="form-group">
							<input type="hidden" name="post-preview" id="preview">
							<!-- CSRF token -->
							<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
							<input id="post-submit" type="submit" class="btn btn-primary" value="Submit">
							<input id="post-preview" type="submit" class="btn" value="Preview">
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
  <script src="{{ url_for('static', filename='js/popover.js') }}"></script>
{%- endblock -%}

