{%- extends 'index.html' -%}
{%- block body -%}
	{% if session.get('post-preview') %}
		{% set post_title = session['post-preview'].get('title', None) %}
		{% set post_preview = session['post-preview'].get('preview', None) %}
		{% set post_body = session['post-preview'].get('body', None) %}
		{% set post_tags = session['post-preview'].get('tags', None) %}
	{% else %}
		{% set post_title = '' %}
		{% set post_preview = '' %}
		{% set post_body = '' %}
		{% set post_tags = '' %}
	{% endif %}

	<div class="post clearfix">
		<div class="row">
			<div class="col-lg-8">
				<div class="page-header">
					<h1>New Incident</h1>
				</div>
				<div class="content">
					{%- with messages = get_flashed_messages(with_categories=True) -%}
						{%- if messages -%}
							{%- for category, message in messages -%}
								<div class="response">
									<span class="message {{ category }}">{%- if category == 'success' -%}✔{%- endif -%}&nbsp;{{ message }}</span>
								</div>
							{%- endfor -%}
						{%- endif -%}
					{%- endwith -%}
					<form id="post-form" role="form" method="post" action="{{ url_for('new_post') }}">
						
						<!-- Title -->
						<label for="post-title">Incident Overview</label><br>
						<div class="form-group {% if error and error_type == 'validate' %} has-error{% endif %}">
							{%- if error and error_type == 'validate' -%}
								<label class="control-label" for="post-title">Required field</label>
							{%- endif -%}
						    <input type="text" class="form-control" name="post-title" id="post-title" placeholder="Incident Title" value="{{ post_title | safe }}" required>
						</div>

						<!-- Short Description -->
						<div class="form-group">
						    <textarea id="post-short" name="post-short" class="form-control" rows="3" placeholder="Short Description">{{ post_preview | safe }}</textarea>
						</div>

						<!-- Long Description -->
						<div class="form-group {% if error and error_type == 'validate' %} has-error{% endif %}">
							{%- if error and error_type == 'validate' -%}
								<label class="control-label" for="post-full">Required field</label>
							{%- endif -%}
						    <textarea id="post-full" name="post-full" class="form-control" rows="7" placeholder="Full Description" required>{{ post_body | safe }}</textarea>
						</div>

						<!-- Category -->
						<div class="form-group">
							<input type="text" id="category" name="category" class="form-control" placeholder="Category"></textarea>
						</div>

						<!-- Reporter -->
						<div class="form-group">
							<input type="text" id="reporter" name="reporter" class="form-control" placeholder="Name of Reporter"></textarea>
						</div>

						<br>
						<hr>

						<!-- Incident Reported -->
						<div class="form-group">
							<label for="reported-time">Incident Reported</label>
							<input type="datetime-local" id="reported-time" name="reported-time" class="form-control">
						</div>

						<!-- Incident Discovery -->
						<div class="form-group">
							<label for="discovery-time">Incident Discovery</label>
							<input type="datetime-local" id="discovery-time" name="discovery-time" class="form-control">
						</div>

						<br>
						<hr>

						<!-- Victim -->
						<div class="form-group">
							<label for="victim">Victim</label>
							<input type="text" id="victim" name="victim" class="form-control">
						</div>

						<!-- Assets -->
						<div class="form-group">
							<label for="affected-assets">Affected Assets</label>
							<input type="text" id="affected-assets" name="affected-assets" class="form-control">
						</div>

						<!-- Loss (USD) -->
						<div class="form-group">
							<label for="loss-usd">Loss Estimation (USD)</label>
							<input type="text" id="loss-usd" name="loss-usd" class="form-control">
						</div>

						<!-- Loss (Crypto) -->
						<div class="form-group">
							<label for="loss-crypto">Loss Estimation (Crypto)</label>
							<input type="text" id="loss-crypto" name="loss-crypto" class="form-control">
						</div>

						<br>
						<hr>

						<!-- Security Compromise Name -->
						<div class="form-group">
							<label for="security-compromise-name">Security Compromise Name</label>
							<input type="text" id="security-compromise-name" name="security-compromise-name" class="form-control">
						</div>

						<!-- Threat Actor --> 
						<div class="form-group">
							<label for="threat-actor">Threat Actor</label>
							<input type="text" id="threat-actor" name="threat-actor" class="form-control">
						</div>

						<!-- Leveraged TTP Resource Infrastructure -->
						<div class="form-group">
							<label for="leveraged-ttp">Leveraged TTP Resource Infrastructure</label>
							<input type="text" id="leveraged-ttp" name="leveraged-ttp" class="form-control">
						</div>

						<!-- Intended Effect -->
						<div class="form-group">
							<label for="intended-effect">Intended Effect Description</label>
							<input type="text" id="intended-effect" name="intended-effect" class="form-control">
						</div>

						<!-- Discovery Method -->
						<div class="form-group">
							<label for="discovery-method">Discovery Method</label>
							<input type="text" id="discovery-method" name="discovery-method" class="form-control">
						</div>

						<!-- Course Of Action Requested-->
						<div class="form-group">
							<label for="coa-requested">Course Of Action Requested</label>
							<input type="text" id="coa-requested" name="coa-requested" class="form-control">
						</div>

						<!-- Course Of Action Taken-->
						<div class="form-group">
							<label for="coa-taken">Course Of Action Taken</label>
							<input type="text" id="coa-taken" name="coa-taken" class="form-control">
						</div>

						<!-- Severity -->
						<div class="form-group">
							<label for="severity">Severity</label><br>
							<input type="radio" name="severity" id="severity" value="Low" checked> Low &nbsp;
							<input type="radio" name="severity" id="severity" value="Medium">	Medium &nbsp; 
							<input type="radio" name="severity" id="severity" value="High">	High &nbsp; 
						</div>

						<br>
						<hr>
						<!-- Information Source Description -->
						<div class="form-group">
							<label for="info-source">Information Source Description</label>
							<input type="text" id="info-source" name="info-source" class="form-control">
						</div>

						<!-- Confidence -->
						<div class="form-group">
							<label for="confidence">Confidence of Incident</label><br>
							<input type="radio" name="confidence" id="confidence" value="Low" checked> Low &nbsp;
							<input type="radio" name="confidence" id="confidence" value="Medium">	Medium  &nbsp;
							<input type="radio" name="confidence" id="confidence" value="High">	High &nbsp;
						</div>

						<br>
						<hr>

						<!-- Tags -->
						<div class="form-group">
						    <label for="post-tags">Tags</label>
						    <input type="text" name="post-tags" class="form-control" id="post-tags" placeholder="Comma Separated (eg. Bird, Train)" value="{{ ','.join(post_tags) }}">
						</div>


						<!-- Submit -->
						<div class="form-group">
							<input type="hidden" name="post-preview" id="preview">
							<!-- CSRF token -->
							<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
							<input id="post-submit" type="submit" class="btn btn-primary" value="Submit">
							<input id="post-preview" type="submit" class="btn" value="Preview">
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
{%- endblock -%}
{%- block scripts -%}
	<script src="//codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="{{ url_for('static', filename='js/a-tools.js') }}"></script>
	<script src="{{ url_for('static', filename='js/showdown.js') }}"></script>
	<script src="{{ url_for('static', filename='js/mdmagick.js') }}"></script>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
	<script>
		// Function found here: https://gist.github.com/ryanburnette/8803238
		// Function to add default current time to date-time
		$.fn.setNow = function (onlyBlank) {
			var now = new Date($.now())
				, year
				, month
				, date
				, hours
				, minutes
				, seconds
				, formattedDateTime
				;

			year = now.getFullYear();
			month = now.getMonth().toString().length === 1 ? '0' + (now.getMonth() + 1).toString() : now.getMonth() + 1;
			date = now.getDate().toString().length === 1 ? '0' + (now.getDate()).toString() : now.getDate();
			hours = now.getHours().toString().length === 1 ? '0' + now.getHours().toString() : now.getHours();
			minutes = now.getMinutes().toString().length === 1 ? '0' + now.getMinutes().toString() : now.getMinutes();
			seconds = now.getSeconds().toString().length === 1 ? '0' + now.getSeconds().toString() : now.getSeconds();

			formattedDateTime = year + '-' + month + '-' + date + 'T' + hours + ':' + minutes + ':' + seconds;

			if ( onlyBlank === true && $(this).val() ) {
				return this;
			}

			$(this).val(formattedDateTime);

			return this;
		}

		$(function () {
				// Handler for .ready() called.
				$('input[type="datetime"]').setNow();
				$('input[type="datetime-local"]').setNow();
		});
	</script>
{%- endblock -%}
