{%- extends 'index.html' -%}
{%- block body -%}
	{% if session.get('post-preview') %}
		{% set post_title = session['post-preview'].get('title', None) %}
		{% set post_preview = session['post-preview'].get('preview', None) %}
		{% set post_body = session['post-preview'].get('body', None) %}
		{% set post_tags = session['post-preview'].get('tags', None) %}
	{% else %}
		{% set post_title = '' %}
		{% set post_preview = '' %}
		{% set post_body = '' %}
		{% set post_tags = '' %}
	{% endif %}

	<!-- TODO tooltips -->
	<div class="post clearfix">
		<div class="row">
			<div class="col-lg-8">
				<div class="page-header">
					<h1>New Incident</h1>
				</div>
				<div class="content">
					{%- with messages = get_flashed_messages(with_categories=True) -%}
						{%- if messages -%}
							{%- for category, message in messages -%}
								<div class="response">
									<span class="message {{ category }}">{%- if category == 'success' -%}✔{%- endif -%}&nbsp;{{ message }}</span>
								</div>
							{%- endfor -%}
						{%- endif -%}
					{%- endwith -%}
					<form id="post-form" role="form" method="post" action="{{ url_for('new_post') }}">
						
						<h3>Basic STIX Fields</h3>
						<br>
						<!-- Overview Of Basic Fields -->

						<!-- Title -->
						<!-- Description -->
						<!-- Blockchain platform -->  
						<!-- Attack Vector -->
						<!-- Vulnerability Exploited -->
						<!-- Time of Attack -->
						<!-- Time reported -->
						<!-- Loss (Crypto) @ time of attack -->
						<!-- Loss (USD) @ time of attack -->
						<!-- Geographical origin of attack, Source of attack -->
						<!-- Resources -->
						

						<!-- Title -->
						<div class="form-group {% if error and error_type == 'validate' %} has-error{% endif %}">
							{%- if error and error_type == 'validate' -%}
								<label class="control-label" for="post-title">Required field</label>
							{%- endif -%}
								<label>Title</label>
						    <input type="text" class="form-control" name="post-title" id="post-title" placeholder="Title" value="{{ post_title | safe }}" required>
						</div>

						<!-- Description -->
						<div class="form-group {% if error and error_type == 'validate' %} has-error{% endif %}">
							{%- if error and error_type == 'validate' -%}
								<label class="control-label" for="post-full">Required field</label>
							{%- endif -%}
								<label>Description</label>
						    <textarea id="post-full" name="post-full" class="form-control" rows="7" placeholder="Description" required>{{ post_body | safe }}</textarea>
						</div>

						<!-- Blockchain platform -->
						<div class="form-group">
							<label>Blockchain Platform</label>
							<input type="text" id="blockchain-platform" name="post-blockchain-platform" placeholder="Blockchain Platform" class="form-control">
						</div>

						<!-- Attack Vector -->
						<div class="form-group">
							<label>Attack Vector</label>
							<input type="text" name="post-attack-vector" id="post-attack-vector" placeholder="Attack Vector" class="form-control"/>
						</div>

						<!-- Vulnerability Exploited -->
						<div class="form-group">
							<label>Vulnerability Exploited</label>
							<input type="text" name="post-vulnerability-exploited" id="post-vulnerability-exploited" placeholder="Vulnerability Exploited" class="form-control"/>
						</div>

						<!-- Loss (Crypto) @ time of attack -->
						<div class="form-group">
							<label>Loss (Crypto) @ Time of Attack</label>
							<input type="text" name="post-loss-crypto" id="post-loss-crypto" placeholder="Loss (Crypto) @ Time of Attack" class="form-control"/>
						</div>

						<!-- Loss (USD) @ time of attack -->
						<div class="form-group">
							<label>Loss (USD) @ Time of Attack</label>
							<input type="text" name="post-loss-usd" id="post-loss-usd" placeholder="Loss (USD) @ Time of Attack" class="form-control"/>
						</div>

						<!-- Geographical origin of attack, Source of attack -->
						<div class="form-group">
							<label>Geographical origin of attack, Source of Attack</label>
							<input type="text" name="post-source-of-attack" id="post-source-of-attack" placeholder="Geographical origin of attack, Source of attack" class="form-control"/> 
							
						</div>

						<!-- Resources -->
						<div class="form-group">
							<label>Resources</label>
							<input type="text" name="post-resources" id="post-resources" placeholder="Resources" class="form-control" />
						</div>

						<div class="form-group">
							<!-- Time of Attack -->
							<label>Time of Attack</label>
							<input type="datetime-local" name="post-time-of-attack" id="post-time-of-attack" placeholder="Time of Attack" class="form-control"/>

							<!-- Time reported -->
							<label>Time Reported</label>
							<input type="datetime-local" name="post-time-reported" id="post-time-reported" class="form-control"/>
						</div>

						<br>
						<hr>

						<h3>Advanced Stix Fields</h3>
						<!-- TODO -->

						<br>
						<hr>

						<h3>Website Metadata</h3>
						<br>
						<!-- Tags -->
						<div class="form-group">
						    <label for="post-tags">Tags</label>
						    <input type="text" name="post-tags" class="form-control" id="post-tags" placeholder="Input comma separated tags (eg. Bird, Train) for searches" value="{{ ','.join(post_tags) }}">
						</div>


						<!-- Submit -->
						<div class="form-group">
							<input type="hidden" name="post-preview" id="preview">
							<!-- CSRF token -->
							<input name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
							<input id="post-submit" type="submit" class="btn btn-primary" value="Submit">
							<input id="post-preview" type="submit" class="btn" value="Preview">
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
{%- endblock -%}
<script type="text/javascript">
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();   
});
</script>
